/*estilos gerais*/
h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--secondary-color);
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}	

/* Estilos para o cabeçalho */
header {
  background-color: var(--black);
}

header nav {
  color: #fff;
  padding: 30px 100px;
  width: 100%;
  height: 100%; 
  display: inline-flex !important;
  justify-content: space-between; 
  align-items: center; 
  gap: 210px; 
}
nav .logo {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
	height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 1rem;
}

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.btn-effects {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.btn-effects::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
}
.btn-effects:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-effects::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-effects:hover::after {
	opacity: 1;
	transform: scale(1,1);
}


/* Estilos para a seção Hero com efeito de parallax */
.hero {
  position: relative;
  height: 100vh;
  background: var(--black);
  opacity: 0.9;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.parallax {
  background-image: url('../assets/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.4);
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--white);
}	

.cta-button {
  margin-top: 40px;
}

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: var(--white);
  cursor: pointer;
  z-index: 1;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* Estilos para a seção Sobre Nós */
.about {
  background-color: #f7f7f7;
  padding: 80px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.underline {
  background-image: linear-gradient(120deg, var(--primary-color) 0%, var(--primary-color) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline:hover  {
    background-size: 100% 88%;
}

/* Estilos para a seção Nossos Serviços */
.services {
  padding: 100px 0;
  text-align: center;
}

.service {
  display: inline-block;
  margin: 0 20px;
}

.service-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-card i {
  font-size: 40px;
  color: #ff5500;
  margin-bottom: 10px;
}

.service-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 0;
}

/* Estilos para a seção Benefícios */
.benefits {
  background-color: #f7f7f7;
  padding: 80px 0;
  text-align: center;
}

.benefit-list {
  list-style: none;
  padding: 0;
}

.benefit-list li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.benefit-list li i {
  font-size: 24px;
  margin-right: 10px;
  color: #ff5500;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.testimonial {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Estilos para a seção Casos de Sucesso */
.success-cases {
  padding: 100px 0;
  text-align: center;
}

.case {
  margin-bottom: 40px;
}

/* Estilos para a seção Entre em Contato */
.contact {
  background-color: #333;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.contact-form button {
  background-color: #ff5500;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
}

.contact-info {
  margin-top: 30px;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}


/* estilos para o menu mobile */

/* estilos adicionais */
.scroll-downs {
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
