body {
  --background-color: #18181B;
  --text-color: #A1A1AA;

  --card-background-color: rgba(255, 255, 255, .015);
  --card-border-color: rgba(255, 255, 255, 0.1);
  --card-box-shadow-1: rgba(0, 0, 0, 0.05);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(0, 0, 0, 0.1);
  --card-box-shadow-2-y: 8px;
  --card-box-shadow-2-blur: 15px;
  --card-label-color: #FFFFFF;
  --card-icon-color: #D4D4D8;
  --card-icon-background-color: rgba(255, 255, 255, 0.08);
  --card-icon-border-color: rgba(255, 255, 255, 0.12);
  --card-shine-opacity: .1;
  --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
  --card-line-color: #2A2B2C;
  --card-tile-color: rgba(16, 185, 129, 0.05);

  --card-hover-border-color: rgba(255, 255, 255, 0.2);
  --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
  --card-hover-box-shadow-1-y: 5px;
  --card-hover-box-shadow-1-blur: 10px;
  --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
  --card-hover-box-shadow-2-y: 15px;
  --card-hover-box-shadow-2-blur: 25px;
  --card-hover-icon-color: #34D399;
  --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
  --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);

  --blur-opacity: .01;

  &.light {
    --background-color: #FAFAFA;
    --text-color: #52525B;

    --card-background-color: transparent;
    --card-border-color: rgba(24, 24, 27, 0.08);
    --card-box-shadow-1: rgba(24, 24, 27, 0.02);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(24, 24, 27, 0.04);
    --card-box-shadow-2-y: 2px;
    --card-box-shadow-2-blur: 7px;
    --card-label-color: #18181B;
    --card-icon-color: #18181B;
    --card-icon-background-color: rgba(24, 24, 27, 0.04);
    --card-icon-border-color: rgba(24, 24, 27, 0.1);
    --card-shine-opacity: .3;
    --card-shine-gradient: conic-gradient(from 225deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, #EDFAF6 285deg, #FFFFFF 345deg, rgba(16, 185, 129, 0) 360deg);
    --card-line-color: #E9E9E7;
    --card-tile-color: rgba(16, 185, 129, 0.08);

    --card-hover-border-color: rgba(24, 24, 27, 0.15);
    --card-hover-box-shadow-1: rgba(24, 24, 27, 0.05);
    --card-hover-box-shadow-1-y: 3px;
    --card-hover-box-shadow-1-blur: 6px;
    --card-hover-box-shadow-2: rgba(24, 24, 27, 0.1);
    --card-hover-box-shadow-2-y: 8px;
    --card-hover-box-shadow-2-blur: 15px;
    --card-hover-icon-color: #18181B;
    --card-hover-icon-background-color: rgba(24, 24, 27, 0.04);
    --card-hover-icon-border-color: rgba(24, 24, 27, 0.34);

    --blur-opacity: .1;
  }

  &.toggle .grid * {
    transition-duration: 0s !important;
  }
}

/*estilos gerais*/
h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--secondary-color);
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}	

/* Estilos para o cabeçalho */
header {
  background-color: var(--black);
}

header nav {
  color: #fff;
  padding: 30px 100px;
  width: 100%;
  height: 100%; 
  display: inline-flex !important;
  justify-content: space-between; 
  align-items: center; 
  gap: 210px; 
}
nav .logo {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
	height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 40px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 1rem;
}

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.btn-effects {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}
.btn-effects::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
}
.btn-effects:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.btn-effects::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.btn-effects:hover::after {
	opacity: 1;
	transform: scale(1,1);
}


/* Estilos para a seção Hero com efeito de parallax */
.hero {
  position: relative;
  height: 100vh;
  background: var(--black);
  opacity: 0.9;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.parallax {
  background-image: url('../assets/WhatsApp Image 2023-08-08 at 15.53.32 (2).jpeg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.1);
}

.hero-content {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--white);
}	

.cta-button {
  background: var(--primary-color);
  margin-top: 40px;
}

.button-86 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  padding: 0.85em 1.55em 0.85em 1.25em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86 > svg {
  fill: white;
  height: 1.4em;
  width: 1.4em;
  margin-right: 0.4em;
}

.button-86:hover {
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* Estilos para a seção Sobre Nós */
.about {
  background-color: #f7f7f7;
  padding: 80px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.underline {
  background-image: linear-gradient(120deg, var(--primary-color) 0%, var(--primary-color) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline:hover  {
    background-size: 100% 88%;
}

/* Estilos para a seção Nossos Serviços */
.services {
  padding: 50px 0;
  text-align: center;
}

.services > .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 40px;
}

.service {
  display: inline-block;
  margin: 0 20px;
  box-shadow: 0px 18px 58px 16px #0000000F;
  border-radius: 10px;
}

.service-card {
  background-color: #fff;
  height: 300px;
  width: 350px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.service-card i {
  font-size: 40px;
  color: #ff5500;
  margin-bottom: 10px;
}

.service-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 0;
}

/* Estilos para a seção Benefícios */
.benefits {
  background: #f7f7f7;
  background-image: url('../assets/Patterns.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
  text-align: center;
}

.benefit-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 40px auto;

}

.benefit-list li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.benefit-list li i {
  font-size: 24px;
  margin-right: 10px;
  color: #ff5500;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.testimonial {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Estilos para a seção Casos de Sucesso */
.success-cases {
  padding: 100px 0;
  text-align: center;
}

.case {
  margin-bottom: 40px;
}

/* Estilos para a seção Entre em Contato */
.contact {
  background-color: #333;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.contact-form textarea::placeholder {
  font-family: 'Roboto', sans-serif;
}

.contact-form button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
}

.contact-info {
  margin-top: 30px;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}


/* estilos para o menu mobile */

/* estilos adicionais */
.scroll-downs {
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* carrosel */
#loader {
	height: 15em;
	width: 15em;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: -ms-grid;
	display: grid;
	place-items: center;
	border-radius: 5px;
}
#loader:after {
	content: "";
	height: 11em;
	width: 11em;
	border: 0.9em solid #a0a0a0;
	border-top-color: #4249ed;
	border-radius: 50%;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
#box {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 80vw;
	max-width: 41em;
	min-height: 26em;
	display: contents;
}
.img-con {
  position: absolute;
}
.img-con img {
	height: 1px;
	width: 1px;
}
.wrapper {
	background-color: #ffffff;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 0.6em;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.testimonial-container {
	width: 85%;
	height: 100%;
	position: relative;
	margin: auto;
	padding: 1.8em 1.2em;
}
.testimonial-container p {
	color: #8c8c90;
	text-align: center;
	font-size: 0.9em;
	line-height: 2em;
	letter-spacing: 0.05em;
}
.testimonial-container img {
	display: block;
	margin: 1.8em auto 1.25em auto;
	border-radius: 50%;
	width: 4.4em;
}
.testimonial-container h3 {
	color: #2d3d67;
	font-size: 1em;
	text-align: center;
}
.testimonial-container h6 {
	color: #bcc4da;
	font-size: 0.9em;
	letter-spacing: 0.03em;
	font-weight: 400;
	text-align: center;
}
.wrapper button {
	font-size: 1.8em;
	color: var(--primary-color);;
	height: 2.2em;
	width: 2.2em;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	background-color: #ffffff;
	border: none;
	border-radius: 50%;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
button#next {
	right: -1.1em;
}
button#prev {
	left: -1.1em;
}
.fab {
	color: #ff0000;
}

.card {
  background-color: var(--black);
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
  padding: 30px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: box-shadow .25s;
  width: 45%;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background-color: var(--card-background-color);
}

.card .icon {
  z-index: 2;
  position: relative;
  display: table;
  padding: 14px;
}

.card .icon::after {
  content: '';
  position: absolute;
  inset: 4.5px;
  border-radius: 50%;
  background-color: var(--card-icon-background-color);
  border: 1px solid var(--card-icon-border-color);
  backdrop-filter: blur(2px);
  transition: background-color .25s, border-color .25s;
}

.card .icon svg {
  position: relative;
  z-index: 1;
  display: block;
  width: 24px !important;
  height: 24px !important;
  transform: translateZ(0);
  color: var(--card-icon-color);
  transition: color .25s;
}

.card h4 {
  z-index: 2;
  position: relative;
  margin: 12px 0 4px 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 2;
  color: var(--card-label-color);
  text-align: start;
}

.card p {
  z-index: 2;
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
  text-align: justify;
}

.card .shine {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: opacity .5s;
}

.card .shine::before {
  content: '';
  width: 150%;
  padding-bottom: 150%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 55%;
  filter: blur(35px);
  opacity: var(--card-shine-opacity);
  transform: translateX(-50%);
  background-image: var(--card-shine-gradient);
}

.card .background {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
  mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
}

.card .background .tiles {
  opacity: 0;
  transition: opacity .25s;
}

.card .background .tile {
  position: absolute;
  background-color: var(--card-tile-color);
  animation-duration: 8s;
  animation-iteration-count: infinite;
  opacity: 0;
}

.card .background .tile-4,
.card .background .tile-6,
.card .background .tile-10 {
  animation-delay: -2s;
}

.card .background .tile-3,
.card .background .tile-5,
.card .background .tile-8 {
  animation-delay: -4s;
}

.card .background .tile-2,
.card .background .tile-9 {
  animation-delay: -6s;
}

.card .background .tile-1 {
  top: 0;
  left: 0;
  height: 10%;
  width: 22.5%;
}

.card .background .tile-2 {
  top: 0;
  left: 22.5%;
  height: 10%;
  width: 27.5%;
}

.card .background .tile-3 {
  top: 0;
  left: 50%;
  height: 10%;
  width: 27.5%;
}

.card .background .tile-4 {
  top: 0;
  left: 77.5%;
  height: 10%;
  width: 22.5%;
}

.card .background .tile-5 {
  top: 10%;
  left: 0;
  height: 22.5%;
  width: 22.5%;
}

.card .background .tile-6 {
  top: 10%;
  left: 22.5%;
  height: 22.5%;
  width: 27.5%;
}

.card .background .tile-7 {
  top: 10%;
  left: 50%;
  height: 22.5%;
  width: 27.5%;
}

.card .background .tile-8 {
  top: 10%;
  left: 77.5%;
  height: 22.5%;
  width: 22.5%;
}

.card .background .tile-9 {
  top: 32.5%;
  left: 50%;
  height: 22.5%;
  width: 27.5%;
}

.card .background .tile-10 {
  top: 32.5%;
  left: 77.5%;
  height: 22.5%;
  width: 22.5%;
}

@keyframes tile {
  0%, 12.5%, 100% {
    opacity: 1;
  }
  25%, 82.5% {
    opacity: 0;
  }
}

.card .background .line {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity .35s;
}

.card .background .line:before, .card .background .line:after {
  content: '';
  position: absolute;
  background-color: var(--card-line-color);
  transition: transform .35s;
}

.card .background .line:before {
  left: 0;
  right: 0;
  height: 1px;
  transform-origin: 0 50%;
  transform: scaleX(0);
}

.card .background .line:after {
  top: 0;
  bottom: 0;
  width: 1px;
  transform-origin: 50% 0;
  transform: scaleY(0);
}

.card .background .line.line-1:before, .card .background .line.line-1:after {
  transition-delay: .3s;
}

.card .background .line.line-2:before, .card .background .line.line-2:after {
  transition-delay: .15s;
}

.card .background .line.line-3:before, .card .background .line.line-3:after {
  transition-delay: .3s;
}

.card:hover {
  box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);
}

.card:hover .icon::after {
  background-color: var(--card-hover-icon-background-color);
  border-color: var(--card-hover-icon-border-color);
}

.card:hover .icon svg {
  color: var(--card-hover-icon-color);
}

.card:hover .shine {
  opacity: 1;
  transition-duration: .5s;
  transition-delay: 0s;
}

.card:hover .background .tiles {
  opacity: 1;
  transition-delay: .25s;
}

.card:hover .background .tile {
  animation-name: tile;
}

.card:hover .background .line {
  opacity: 1;
  transition-duration: .15s;
}

.card:hover .background .line:before {
  transform: scaleX(1);
}

.card:hover .background .line:after {
  transform: scaleY(1);
}

.card:hover .background .line.line-1:before, .card:hover .background .line.line-1:after {
  transition-delay: .0s;
}

.card:hover .background .line.line-2:before, .card:hover .background .line.line-2:after {
  transition-delay: .15s;
}

.card:hover .background .line.line-3:before, .card:hover .background .line.line-3:after {
  transition-delay: .3s;
}

.day-night {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: .3;
}

.day-night input {
  display: none;
}

.day-night input+div {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  box-shadow: inset 8px -8px 0 0 var(--text-color);
  transform: scale(1) rotate(-2deg);
  transition: box-shadow .5s ease 0s, transform .4s ease .1s;
}

.day-night input:checked+div {
  box-shadow: inset 20px -20px 0 0 var(--text-color);
  transform: scale(.5) rotate(0deg);
  transition: transform .3s ease .1s, box-shadow .2s ease 0s;
}

.day-night input+div:before {
  content: '';
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color .3s ease;
}

.day-night input:checked+div:before {
  background: var(--text-color);
  transition: background-color .3s ease .1s;
}

.day-night input+div:after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: -3px 0 0 -3px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 -23px 0 var(--text-color), 0 23px 0 var(--text-color), 23px 0 0 var(--text-color), -23px 0 0 var(--text-color), 15px 15px 0 var(--text-color), -15px 15px 0 var(--text-color), 15px -15px 0 var(--text-color), -15px -15px 0 var(--text-color);
  transform: scale(0);
  transition: all .3s ease;
}

.day-night input:checked+div:after {
  transform: scale(1);
  transition: transform .5s ease .15s;
}

@media screen and (max-width: 650px) {
	.wrapper {
		font-size: 14px;
	}

  h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  p.subtitle {
    font-size: 1rem;
    text-align: center;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: none;
  }

  .benefit-list {
    flex-direction: column;
  }

  button#next {
    right: -0.4em;
  }

  button#prev {
    left: -0.4em;
}
  .card {
    width: 100%;
  }
}